@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  margin: 0;
  text-align: center;
  background: #EEE url(/images/bg.png);
}

body {
  text-align: left;
  padding: 0;
  margin: 0 auto;
  min-width: 300px;
  max-width: 640px;
  
  color: #777;
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, legend, caption, header {
  font-family: 'Arial Rounded MT Bold', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #999;
}

header.site {
  font-size: 2em;
  padding: 0.5em 1em 1em 1em;
  text-align: right;
}

  .logotype-team {
    color: #090;
    font-weight: bold;
    text-transform: lowercase;
    background: none;
    letter-spacing: 0;
  }

  .logotype-squad {
    color: #900;
    font-weight: bold;
    vertical-align: 15%;
    text-transform: lowercase;
    background: none;
    letter-spacing: 0;
  }
  
  .tagline {
    line-height: 0.66;
    display: block;
    font-size: 0.375em;
    color: #CCC;
    font-weight: normal;
    letter-spacing: 0.33ex;
  }
  
  .site a:hover {
    text-decoration: none;
  }
  
body > section > header {
  position: relative;
  top: -4.6em;
  margin: 0 16em -2em 2em;
}
  
  body > section > header > h1 {
    color: #CCC;
  }

h1 {
  background: inherit;
  color: #900;
  margin: 0;
  font-size: 1.6em;
  line-height: 1.2;
}

h2 {
  margin: 0 0 1em 0
  font-size: 1.4em;
}

article {
  padding: 1em 2em 0 2em;
  margin-bottom: 2em;
  border-radius: 5px;
  background: #FFF;
  border: 2px solid #F4F4F4;
}

  article header {
    margin: -1em -2em 0 -2em;
    padding: 1em 2em 0.5em 2em;
    background: #F8FFF8;
    border-bottom: 2px solid #F4FFF4;
    overflow: hidden;
  }

footer {
  text-align: center;
  padding: 1em 0;
}

a {
  color: #090;
  text-decoration: none;
}

a:hover {
  color: #900;
  text-decoration: underline;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  margin: 1em 0 0 0;
}

  p.date,
  p.tags {
    font-size: smaller;
    margin: 0;
    color: #999;
    float: left;
  }
  
  p.date:before {
    content: "\f073";
    font-family: FontAwesome;
    padding-right: 4px;
  }
  
  p.tags {
    float: right;
  }

  p.more {
    text-align: right;
    margin: 0 0 1em 0;
  }
  
section.comments {
  margin: 2em 0 0 0;
}