<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <header class="site">
      <a href="/">
        <span class="logotype-team">team</span><span class="logotype-squad">squad</span>
        <span class="tagline">the changing room blog</span>
      </a>
    </header>
    <section>
      <%= yield %> 
    </section>
    <footer>
      <p>Powered by <a href="http://cloudhead.io/toto">toto</a></p>
    </footer>
  </body>
</html>

